{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "browser": true,
    "mocha": true
  },
  "rules": {
    "no-bitwise": 1,
    "camelcase": [2, { "properties": "never" }],
    "indent": [2, 2],
    "max-depth": [1, 4],
    "max-statements": [1, 15],
    "complexity": [1, 10],
    "quotes": 0,
    "strict": 0
  }
}
